.layout__area--center {
    background: #171a2a;
}

.wrap-3tiHesTk- > div {
    background: #171a2a;
}

.chart-controls-bar-buttons.chart-series-controls > a {
    background: #171a2a !important;
}

.chart-controls-bar {
    background: #171a2a
}

.layout__area--top .wrap-18oKCBRc-:hover {
    background: rgb(62,79,114);
}

.layout__area--top .wrap-18oKCBRc-:hover span.rebutton {
    color: white;
}